body {
    text-align: center;
    background-color: rgba(0, 225, 255, 0.808);
    color: rgba(255, 255, 255, 0.822);
}

table {
    position: relative;
    margin: 10px 50%;
    font-style: ;
}
